.c {
	font-style: normal;
}

.c::before {
	content: "130321.0122";
}

.version {
	font-family: "Light";
	padding-top: 0.5em;
	opacity: 0.5;
}

html body {
	font-family: "Regular";
	background: #2f3136;
	color: white;
	font-size: 15px;
}

body {
	margin: 0 auto;
	max-width: 65vw;
	padding-bottom: 5em;
}

hr {
	border: none;
	border-bottom: solid;
	border-width: 1px;
	margin-top: 3em;
	margin-bottom: 2em;
	opacity: 0.1;
	display:none;
}

h1 {
	text-align: Center;
	font-family: "Title";
	margin-bottom: 0;
	opacity: 1;
	cursor: default;
	display: none;
}

h4 {
	font-family: "Light";
	font-size: 0.9em;
	text-align: center;
	line-height: 0;
	margin-top: 0.5em;
	margin-bottom: 1em;
	opacity: 0.75;
	cursor: default;
	display: none;
}

censor {
	background: black;
	border: solid;
	border-radius: 6px;
	border-color: black;
	color: black;
	transition: all ease 120ms
}

censor::selection {
	background: black;
}

censor:hover {
	background: #404349;
	border-color: #404349;
	color: white;
}

quote {
	font-family: "Regular";
	font-size: 0.9em;
	line-height: 1em;
	background: rgba(0, 0, 0, 0.1);
	border-left: solid;
	border-color: rgba(255, 255, 255, 0.2);
	display: block;
	margin-bottom: 1em;
	opacity: 0.9;
	padding: 0.7em;
}

tag {
	font-family: "Medium";
	text-align: center;
	color: rgba(103, 144, 255, 1);
	background-color: rgba(103, 144, 255, 0.1);
	border: solid;
	border-color: rgba(0, 0, 0, 0);
	border-width: 0px;
	border-radius: 3px;
	margin-left: 0.25em;
	margin-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	padding-left: 0.4em;
	padding-right: 0.4em;
	cursor: pointer;
	transition: all ease 125ms;
}

tag::before {
	content: "@";
}

edited {
	font-family: "Light";
	font-size: 0.8em;
	display: inline-block;
	opacity: 0.4;
	margin-left: 1em;
}

edited::before {
	content: "(edited)";
	display:none;
}

tag:hover, bot:hover {
	background-color: rgb(139, 170, 255);
	color: rgba(255, 255, 255, 1);
}

bot {
	font-family: "Medium";
	font-size: 0.85em;
	line-height: 0em;
	background-color: rgb(139, 170, 255);
	border-radius: 4px;
	margin-left: 0.25em;
	padding: 0.25em;
	cursor: default;
}

bot::before {
	content: "âœ” BOT";
	font-size: 0.8em;
}

blockquote {
	font-family: "Consolas";
	font-size: 0.9em;
	color: rgb(190, 190, 190);
	line-height: 1.3em;
	background-color: #242529;
	border: solid;
	border-width: 1px;
	border-color: rgb(17, 17, 17);
	border-radius: 6px;
	margin: 0;
	padding: 1em;
}

blockquote-inline {
	font-family: "Consolas";
	font-size: 0.9em;
	color: rgb(190, 190, 190);
	display: inline-block;
	line-height: 1.3em;
	background-color: #242529;
	border: solid;
	border-width: 1px;
	border-color: rgba(0, 0, 0, 0);
	border-radius: 4px;
	margin: 0;
	padding: 0.2em;
	padding-left: 0.25em;
	padding-right: 0.25em;
}

channel {
	font-family: "Regular";
	font-size: 2em;
	display: table-cell;
	opacity: 0.3;
	vertical-align: middle;
	display:none;
}

channel-name {
	font-size: 1.1em;
	display: table-cell;
	padding-left: 0.5em;
	vertical-align: middle;
}

reaction {
	font-family: "Medium";
	font-weight: bold;
	display: inline-block;
	background-color: rgba(103, 144, 255, 0.1);
	border: solid;
	border-width: 1px;
	border-color: rgba(0, 0, 0, 0);
	border-radius: 4px;
	margin-top: 0.5em;
	padding: 0.35em;
	cursor: pointer;
	transition: all ease 75ms;
}

reaction:hover {
	background-color: rgb(139, 170, 255, 0.25);
}

count {
	font-size: 0.8em;
	color: rgba(103, 144, 255, 1);
	display: inline-block;
	margin-left: 0.5em;
	display: none;
}

.highlight {
	background: rgba(233, 190, 0, 0.025);
	border-left: solid;
	border-left-color: rgb(233, 190, 0);
	border-width: 2px;
}

.titlebanner {
	background: #2f3136;
	margin: 0;
	position: sticky;
	padding: 0.5em;
	top: 0;
	left: 0;
	right: 0;
	z-index: 900;
}

.channelbanner {
	font-family: "Medium";
	justify-content: center;
	border-bottom: solid;
	border-width: 3px;
	border-color: rgba(36, 36, 36, .25);
	padding: 1em;
}

.search {
	background-color: #2f3136;
	display: flex;
	position: fixed;
	max-width: 65vw;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 auto;
	padding-top: 0em;
	padding-bottom: 1em;
	left: 0;
	right: 0;
	bottom: 0;
	display:none;
}

.sender {
	font-family: "Medium";
	line-height: none;
	display: inline-block;
	margin: 0;
	padding: 0;
	cursor: default;
  display:none;
}

.time {
	font-family: "Regular";
	font-size: 0.75em;
	line-height: none;
	display: inline-block;
	margin: 0;
	margin-left: 0.23em;
	opacity: 0.3;
	padding: 0;
	cursor: default;
  display:none;
}

.message {
	font-family: "Regular";
	color: rgba(255, 255, 255, 0.85);
	line-height: 1.5em;
	margin-top: 0.4em;
	margin-bottom: 0;
}

.systemmessage {
	font-family: "Regular";
	font-size: 0.8em;
	text-align: center;
	margin: 0;
	opacity: 0.5;
	padding: 0;
	padding-bottom: 0.5em;
	cursor: default;
	display: none;
}

a {
	font-family: "Medium";
	color: #37a5ff;
	text-decoration: none;
	opacity: 1;
	cursor: pointer;
	transition: all ease 125ms;
	display: none;
}

a:hover {
	color: #005eaa
}

ul {
	margin-left: 0;
	padding-left: 0;
  display: flex;
  flex-direction: column-reverse;
}

li {
	font-size: 1.1em;
	line-height: 1em;
	list-style-position: inside;
	list-style: none;
	border-top: solid;
	border-width: 1px;
	border-radius: 1px;
	border-color: rgba(255, 255, 255, 0);
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding: 1em;
	padding-bottom: 0.4em;
	transition: all ease 75ms;
}

li:hover {
	background-color: rgba(0, 0, 0, 0.05);
}

img, iframe, .tenor {
	display: block;
	border: solid;
	border-width: 2px;
	border-color: rgba(255, 255, 255, 0);
	border-radius: 9px;
	margin-top: 0.6em;
	margin-bottom: 0.6em;
	max-height: 35vh;
	max-width: 35vw;
	width: auto;
	height: auto;
	transition: ease all 200ms;
}

svg {
	margin: 0 auto;
	padding: 0
}

button {
	font-family: "Regular";
	font-size: 1.1em;
	color: white;
	flex: 1 1 auto;
	background-color: #36393f;
	border-radius: 6px;
	border: solid;
	border-color: rgba(255, 255, 255, 0);
	margin: 0.25em;
	max-width: 3em;
	cursor: pointer;
	transition: all ease 150ms;
}

button:hover {
	background-color: #43b581;
}

button:active {
	background-color: #228a5b;
}

input {
	font-family: "Light";
	font-size: 1.1em;
	color: white;
	flex: 1 1 auto;
	height: 38px;
	background-color: #404349;
	border-radius: 6px;
	border: solid;
	border-color: rgba(255, 255, 255, 0);
	margin: 0.25em;
	padding-left: 0.58em;
	padding-right: 0.5em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	transition: all ease 100ms;
}

input:focus {
	background-color: #44474d;
}

input::placeholder {
	font-family: "Light";
	color: rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar {
	width: 9px;
	margin-right: 1em;
}

::-webkit-scrollbar-thumb {
	background: #141516;
	border-radius: 1em;
	height: 1em;
	max-height: 10px;
}

::-webkit-scrollbar-track {
	background: rgba(255, 255, 255, 0.025);
	border-radius: 1em;
}

:focus {
	outline: none;
}


@font-face {
	font-family: "Light";
	src: url("https://archive-bot.net/ArchiveStyles/fonts/whitneylight.otf");
}

@font-face {
	font-family: "Regular";
	src: url("https://archive-bot.net/ArchiveStyles/fonts/whitneybook.otf");
}

@font-face {
	font-family: "Medium";
	src: url("https://archive-bot.net/ArchiveStyles/fonts/whitneymedium.otf");
}

@font-face {
	font-family: "Title";
	src: url("https://archive-bot.net/ArchiveStyles/fonts/title.otf");
}
$('#li-switch').on('click', function() {
  // get reversed array of elements
  var el = $('ul li').get().reverse();

  // re-append them to their parent
  $('ul').append(el);
});
